In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./valid.csv')

In [3]:
df.head()

,Unnamed: 0,type,name,L1,L2,L3,L4,L5,L6,L7,...,L131,L132,L133,L134,L135,L136,L137,L138,L139,L140
0,3,cow_bite,6bad72b6e29e294f91508e5dbcc3b762e42c9103ddcf6e...,10,19,31.0,39.0,50.0,57.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,cow_bite,10f1a9b90589c2bc657320dc4958fb19ea2d51fbcdb251...,22,29,47.0,53.0,72.0,81.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,cow_bite,692f8f48cf19ed491f3cf69d8eeef1f7effe01ddf3126a...,4,13,25.0,29.0,40.0,46.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,cow_bite,0739b5b782dcfd787ebd280dbe01b1118380b41a717750...,0,14,26.0,40.0,59.0,67.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17,cow_bite,2052108669082759e3e4b26bcff213b8a64e09a17d501c...,14,20,33.0,43.0,56.0,64.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Function to calculate count
def calculate_count(row):
    l_columns = [col for col in df.columns if col.startswith('L')]
    non_nan_count = sum(pd.notna(row[col]) for col in l_columns)
    return non_nan_count // 2

# Apply function to create new column
df['count'] = df.apply(calculate_count, axis=1)

# Insert count column after 'name'
df = df[['Unnamed: 0', 'type', 'name', 'count'] + [col for col in df.columns if col not in ['Unnamed: 0', 'type', 'name', 'count']]]

In [5]:
df

,Unnamed: 0,type,name,count,L1,L2,L3,L4,L5,L6,...,L131,L132,L133,L134,L135,L136,L137,L138,L139,L140
0,3,cow_bite,6bad72b6e29e294f91508e5dbcc3b762e42c9103ddcf6e...,12,10,19,31.0,39.0,50.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,cow_bite,10f1a9b90589c2bc657320dc4958fb19ea2d51fbcdb251...,50,22,29,47.0,53.0,72.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,cow_bite,692f8f48cf19ed491f3cf69d8eeef1f7effe01ddf3126a...,19,4,13,25.0,29.0,40.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,cow_bite,0739b5b782dcfd787ebd280dbe01b1118380b41a717750...,18,0,14,26.0,40.0,59.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17,cow_bite,2052108669082759e3e4b26bcff213b8a64e09a17d501c...,27,14,20,33.0,43.0,56.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,19,cow_bite,ab4a3fa6085cc8998dad48f20cb5a041d97201723db1d6...,8,15,35,50.0,76.0,94.0,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,32,cow_bite,6be40617f843db3e56b60af7a7dac4dad0f1d647838ed3...,20,0,7,16.0,24.0,32.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,41,cow_bite,743a064e5f68f7acd214bbf9df289c9d6fa16e4f851e32...,27,12,21,33.0,42.0,52.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,43,cow_bite,95040dc15ce9ada82353103a13d1b395c937a9ea674715...,68,22,29,44.0,51.0,64.0,71.0,...,1221.0,1225.0,1236.0,1243.0,1252.0,1260.0,1271.0,NaN,NaN,NaN
9,47,cow_bite,c81785443adb4396f41032f03038f66f5772097bd7bf6f...,2,23,28,37.0,42.0,47.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,50,cow_bite,d40739c2aa4b801a2eda2bbb8a554a6ff85e3fc331b719...,34,5,10,17.0,23.0,31.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns.values[0] = ''
df

,,type,name,count,L1,L2,L3,L4,L5,L6,...,L131,L132,L133,L134,L135,L136,L137,L138,L139,L140
0,3,cow_bite,6bad72b6e29e294f91508e5dbcc3b762e42c9103ddcf6e...,12,10,19,31.0,39.0,50.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,cow_bite,10f1a9b90589c2bc657320dc4958fb19ea2d51fbcdb251...,50,22,29,47.0,53.0,72.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,cow_bite,692f8f48cf19ed491f3cf69d8eeef1f7effe01ddf3126a...,19,4,13,25.0,29.0,40.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,cow_bite,0739b5b782dcfd787ebd280dbe01b1118380b41a717750...,18,0,14,26.0,40.0,59.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17,cow_bite,2052108669082759e3e4b26bcff213b8a64e09a17d501c...,27,14,20,33.0,43.0,56.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,19,cow_bite,ab4a3fa6085cc8998dad48f20cb5a041d97201723db1d6...,8,15,35,50.0,76.0,94.0,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,32,cow_bite,6be40617f843db3e56b60af7a7dac4dad0f1d647838ed3...,20,0,7,16.0,24.0,32.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,41,cow_bite,743a064e5f68f7acd214bbf9df289c9d6fa16e4f851e32...,27,12,21,33.0,42.0,52.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,43,cow_bite,95040dc15ce9ada82353103a13d1b395c937a9ea674715...,68,22,29,44.0,51.0,64.0,71.0,...,1221.0,1225.0,1236.0,1243.0,1252.0,1260.0,1271.0,NaN,NaN,NaN
9,47,cow_bite,c81785443adb4396f41032f03038f66f5772097bd7bf6f...,2,23,28,37.0,42.0,47.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,50,cow_bite,d40739c2aa4b801a2eda2bbb8a554a6ff85e3fc331b719...,34,5,10,17.0,23.0,31.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_csv('test.csv', index=False)